entrypoint = "server.js"
modules = ["nodejs-22", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
